.FormFields {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
}

.FormGroup {
  display: flex;
  gap: 4px;
  align-items: flex-start;
}

.FormField {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  flex-basis: 50%;
  justify-content: center;
}

.FormField label {
  font-size: 14px;
}

.FormField input,
.FormField textarea,
.FormField select {
  width: 100%;
}

.FormField textarea {
  resize: none;
}

.FormFieldError {
  padding-left: 9px;
  font-size: 13px;
  color: Salmon;
}